<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shadowsquad.unilife">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/unilife_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/unilife_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unilife">

        <activity android:name=".EditExam"></activity>
        <activity android:name=".todoexam" />
        <activity android:name=".AddExam" />
        <activity android:name=".lounchhome">
        <activity android:name=".EditLecture"></activity>
        <activity android:name=".todoLecture"></activity>
        <activity android:name=".AddLecture" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".edit_event" />
<!--        <activity android:name=".Update_Event1" />-->
<!--        <activity android:name=".update_event" />-->
        <activity android:name=".todoevent" />
        <activity android:name=".createEvent" />




        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>